.hero-Contact-Page form  *{
    display: block;
    width: 100%;
    /* background-color: blue; */
}

form{
    /* background-color: yellow; */
    /* width: 100% !important; */
}

.hero-Contact-Page label{
    width: 100% !important;
}


.hero-Contact-Page {
    display: flex;
    /* justify-content: space-between; */
    padding: 100px var(--LR-sec-padding);
    align-items: start;
}

.hero-Contact-Page > *{
    width: 100%;
    margin: 10px 0;
}


.hero-Contact-Page form > div{
    /* margin: 20px 0; */
    /* border-bottom: 10px solid   ; */
}


.hero-Contact-Page input, .hero-Contact-Page textarea{
    border: 1px solid rgb(228, 220, 220);
    padding: 10px 0;
    max-width:100% ;
    /* background-color: green; */
}

.hero-Contact-Page form input[type="submit"]{
    background-color: black;
    color: white;
    padding: 20px 0 !important; 
    letter-spacing: 2px;
    font-family: var(--font-Montserrat);
}

.hero-Contact-Page > *:first-child{
    margin-right: 50px;
}

.hero-Contact-Page  .form{
    /* background-color: red; */
}

.hero-Contact-Page .address > p:first-child{
    margin-bottom: 20px;
}

.hero-Contact-Page form > div{
    margin-bottom: 20px;
}


.hero-Contact-Page form > div label{
    margin-bottom: 10px;
}
@media screen and (max-width:768px) {
    
    .hero-Contact-Page{
        flex-wrap: wrap;
    }

    .hero-Contact-Page > *:first-child{
        margin-right: 0;
    }


     .hero-Contact-Page .address{
        margin-top: 100px;
     }
    
}